@typeparam T

@if (Items != null && properties != null)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var property in properties)
                {
                    <th>@property.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    @foreach (var property in properties)
                    {
                       <td>@property.GetValue(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}