<div class="row my-2">
    <div class="col-4">
        <button class="blueButton" @onclick="ShowPrompt">Show Prompt</button> 
    </div>
</div>
<div class="row">
    <div class="col-4">
        <p>Result from last Prompt: @message</p>
    </div>
</div>